<!-- <p>pc-builder works!</p> -->

<div class="container my-5">
  <h1>Build your own PC</h1>
  <p class="card-text">Select your components and build your own PC</p>
  <div class="row">
    <!-- Component Selection Area -->
    <div class="col-md-8">
      <form>
        <!-- Dynamic Component Dropdowns -->
        <div class="mb-3" *ngFor="let category of categories">
          <label [for]="category + 'Select'" class="form-label">{{ category }}</label>

          <select class="form-select" [id]="category + 'Select'" (change)="onSelectItem(category, $event)">
            <option value="" disabled selected>Choose...</option>
            <option *ngFor="let item of components[category]" [value]="item">{{ item.name }}</option>
          </select>
        </div>
      </form>
    </div>

    <!-- Selected Items and Prices -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Build</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let category of categories">
              {{ category }}: <span>{{ selectedItems[category]?.name || 'None' }}</span>
            </li>
          </ul>
          <div class="card-footer">
            <h5>Total Price: <span>${{ totalPrice.toFixed(2) }}</span></h5>
            <!-- <button class="btn btn-primary" type="submit">Proceed</button> -->
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buildModal">Proceed</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="buildModal" tabindex="-1" aria-labelledby="buildModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="buildModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="buildModalLabel">Your Build Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let category of categories">
            <!-- {{ category }}: {{ selectedItems[category]?.name || 'None' }}
            - ${{ selectedItems[category]?.price.toFixed(2) }} -->
            {{ category }}: {{ selectedItems[category]?.name || 'None' }}
            - ${{ (selectedItems[category]?.price || 0).toFixed(2) }}
          </li>
        </ul>
        Total Price: ${{ totalPrice.toFixed(2) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="printBuild()">Print</button>
        <button type="button" class="btn btn-success" (click)="downloadPDF()">Download PDF</button>
        <button type="button" class="btn btn-info" (click)="prepareEmail()">Email</button>
      </div>
    </div>
  </div>
</div>
